<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.slim.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class = "navbar navbar-default navbar-fixed-top">
        <ul class = "nav navbar-nav navbar-left">
            <li><a class = "navbar-brand" href="#">Home</a></li>
            <li><a href="/admin-login/">Admin Login</a></li>
        </ul>
        <ul class = "nav navbar-nav navbar-right">
            <li><a class = "navbar-brand" href="#">Cart: <b> ({{ cart-items }})Items</b></a></li>
            <li><a href="/cart/checkout">Checkout!</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <div class = "page-header" style="text-align:center">
        <h2>StoreName</h2>
        <div class

    </div>

</body>
</html>